<!DOCTYPE html>
<html lang="en" xml:lang="en">
  <head>
  <title>mailer</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      /* Email styles need to be inline */
    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
